* {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 0px auto;
    padding: 0px auto;
}

.templatesession h2 {
    margin-top: 200px;
    font-size: 48px;
    font-family: 'Lato', sans-serif;
}

.navbar {
    background-color: #48284A;
    height: 130px;
    justify-content: flex-start;
    z-index: 100;
}
.navbar-nav{
    background-color: #48284A;
}

.navbar a {
    color: #DDDBF1;
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    margin-left: 0px;
}

.navbar img {
    height: 60px;
    width: 60px;
}

.navbar-nav .nav-link {
    font-size:28px;  
    font-weight: normal;  
}

.navbar-toggler-icon{
    color: #DDDBF1;
    font-size:28px;  
    font-weight: bold; 
}

#administration,#visit {
    border-radius: 15px;
    background-color: #3C4F76;
    height: 100px;
    width: 250px;
    font-size: 32px;
    font-weight: bold;
    border: none;
    margin-top: 100px;
    color: #DDDBF1
}

.templatevisitors {
    width: 80%;
    margin-top: 70px;
    font-size: 25px;
}

.templatevisitors input {
    text-align: left;
    height: 60px;
    font-size: 20px;
}

.templatevisitors h5 {
    margin-bottom: 40px;
    font-size: 28px;
}

.templatevisitors p {
    font-style: oblique;
    font-size: 20px;
    text-align: left;
}

#visitorinfo select {
    margin-bottom: 15px;
    text-align: center;
    height: 60px;
    font-size: 20px;
}

#registration, #registrationcowork {
    border-radius: 15px;
    background-color: #48284A;
    height: 80px;
    font-size: 24px;
    font-weight: bold;
    width: 50%;
    border: none;
    margin-top: 40px;
    margin-bottom: 10px;
    color: #DDDBF1;
}

#newregister,#visitorsrecord,#statistics {
    border-radius: 15px;
    background-color:  #3C4F76;
    height: 90px;
    font-size: 24px;
    font-weight: bold;
    width: 50%;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #DDDBF1;
}

#adminmenu {
    margin-top: 100px;
}

.templateadmin{
    margin-top: 150px;
}

.templateadmin h2 {
    margin-bottom: 40px;
    font-size: 48px;
    font-family: 'Lato', sans-serif;
}

.templateadmin p {
    margin-bottom: 40px;
    font-size: 28px;
}

