*{
    font-family: 'Roboto', sans-serif;
}

.navbar  {
    background-color:#48284A;
}

.navbar a {
    color:#DDDBF1;
    font-family: 'Lato', sans-serif;
}

#administration, #visit {
    border-radius: 15px;
	background-color: #3C4F76	;
	height: 60px;
	width: 200px;
	font-size: 16px; 
	border: none;
    margin-top: 200px;
    margin-left: 90px;
	color: #DDDBF1
}

.templatevisitors{
    border-style: solid;
    width: 400px;
    margin-left: 180px;
    margin-top: 50px;

}
#visitorinfo label{
    margin-left: 10px;
}


#visitorinfo select{
    margin-left: 10px;
    width: 300px;
}

#registration {
    border-radius: 15px;
	background-color: #48284A	;
	height: 40px;
	font-size: 16px; 
	border: none;
    margin-top: 40px;
    margin-left: 150px;
    margin-bottom: 10px;    
	color: #DDDBF1

}

